/* Contenedor principal */
.contenido-galeria {
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

/* Encabezado linea*/
.encabezado-galeria {
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 3px solid #20046c;
}
/*encabezado letras*/
.encabezado-galeria h1 {
    font-size: 2.6rem;
    color: #111010;
    margin-bottom: 10px;
    font-weight: 700;
}

.subtitulo {
    font-size: 1.1rem;
    color: #666;
    margin: 0;
}

/*galería */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/*fallo en los ordenes y vista*/
.item-galeria {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(217, 4, 4, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


/*imagenes*/
.item-galeria img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.4s;
}
